body {
  background-color: #5d5d5d; }

.title {
  font-size: 20px !important;
  color: #00bcd4; }

.nav {
  vertical-align: top; }

.header {
  height: 50px;
  background-color: #424242;
  min-width: 1024px;
  z-index: 10; }
  .header .h-title {
    position: absolute;
    line-height: 50px;
    top: 0;
    left: 10px;
    font-size: 20px; }
    .header .h-title a {
      color: #FFF; }

.nav .nav-title1 ul {
  background-color: #ef5350; }
.nav .nav-title1.active a {
  background-color: #ef5350; }
.nav .nav-title2 ul {
  background-color: #00bcd4; }
.nav .nav-title2.active a {
  background-color: #00bcd4; }
.nav .nav-title3 ul {
  background-color: #8bc34a; }
.nav .nav-title3.active a {
  background-color: #8bc34a; }
.nav .nav-title4 ul {
  background-color: #ffb300; }
.nav .nav-title4.active a {
  background-color: #ffb300; }
.nav .navCont {
  text-align: right;
  font-size: 0; }
  .nav .navCont > li {
    display: inline-block;
    font-size: 18px;
    height: 50px; }
    .nav .navCont > li > a {
      line-height: 50px; }
    .nav .navCont > li:hover ul {
      display: block; }
    .nav .navCont > li ul {
      position: absolute;
      left: 0;
      top: 30px;
      width: 100%; }
      .nav .navCont > li ul li {
        line-height: 16px; }
  .nav .navCont a {
    padding: 0px 30px;
    color: #FFF;
    width: auto; }

.main {
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
  min-width: 1024px; }

.content {
  padding-top: 20px;
  width: 1024px;
  margin: 0 auto; }

.nav-dropdown {
  position: absolute;
  width: 100%;
  z-index: 2000; }

.nav-list-box {
  position: absolute;
  width: 100%;
  top: -1000px;
  left: 0;
  max-height: 180px; }

.nav-list {
  width: 600px;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 0; }
  .nav-list li {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    opacity: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .nav-list a {
    color: #FFF; }

.nav-title1-list-box {
  background-color: #ef5350; }
  .nav-title1-list-box li:hover {
    background-color: #ed3c39; }
  .nav-title1-list-box li.active {
    background-color: #ed3c39; }

.nav-title2-list-box {
  background-color: #00bcd4; }
  .nav-title2-list-box li:hover {
    background-color: #00a5bb; }
  .nav-title2-list-box li.active {
    background-color: #00a5bb; }

.nav-title3-list-box {
  background-color: #8bc34a; }
  .nav-title3-list-box li:hover {
    background-color: #7eb73d; }
  .nav-title3-list-box li.active {
    background-color: #7eb73d; }

.nav-title4-list-box {
  overflow-y: auto;
  background-color: #ffb300; }
  .nav-title4-list-box li:hover {
    background-color: #e6a100; }
  .nav-title4-list-box li.active {
    background-color: #e6a100; }

#map {
  display: inline-block;
  width: 500px;
  height: 600px;
  vertical-align: top; }

.right {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  color: #FFF; }

.chart h3 {
  font-size: 18px;
  text-align: center; }

.list {
  display: inline-block;
  text-align: center;
  width: 220px;
  margin-top: 20px; }
  .list h3 {
    font-size: 18px;
    line-height: 1.3; }
  .list ul {
    width: 60px;
    margin: 10px auto 0;
    list-style-type: decimal;
    line-height: 1.5;
    font-size: 19px;
    padding-left: 20px; }

/*chart*/
.axis {
  font-size: 14px;
  fill: #FFF; }

.axis path {
  fill: none;
  stroke: #999;
  stroke-width: 2; }

.domain, .tick line {
  stroke: gray;
  stroke-width: 1; }

/* leaflet */
.leaflet-bottom .leaflet-control-attribution {
  display: none; }

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

.legend {
  text-align: left;
  line-height: 18px;
  color: #555; }

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7; }
